{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}
<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <h1>微信群管理</h1>

            {% if current_user.is_authenticated %}


                {% if qrimg %}
                    <p class="lead">
                        请扫码
                    </p>
                    {{ qrimg | safe }}
                {% endif %}
            {% endif %}
            {% if not current_user.is_authenticated %}
            <p>如果非本站用户，请在下方注册
            <p>
                <a class="btn btn-primary" href="{{ url_for('security.login') }}">登陆</a> <a class="btn btn-default" href="{{ url_for('security.register') }}">注册</a>
            </p>
            {% endif %}
{#            <p>#}
{#                <a class="btn btn-primary" href="/"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>#}
{#            </p>#}
        </div>
    </div>
</div>
<script>
    var check = setInterval(function(){
           $.ajax({
               url:'/check_login',
               type:'get',
               success:function(data){
                        if(data.isLoggedIn === true){
                            clearInterval(check);
                            $('#qrimg').after('<h2>已登录</h2>');

                            $('#qrimg').remove();


                        }
                    }
           })
       },2000);
</script>
{% endblock body %}
